.meter {
  border: 1px solid black;
  border-radius: 5px;
  height: 200px;
  width: 100%;
}

.module {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

.module input {
  width: 100%;
}

.text {
  background-color: coral;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.module .meter {
  overflow: hidden;
  position: relative;
}

.one_result {
  margin: 5px;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}